<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="keyword" content="">
		<meta name="description" content="">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<link href="../css/details.css" rel="stylesheet" type="text/css" media="all">
		<script src="../js/jquery-1.10.2.min.js"></script>
		<title>イベント詳細情報</title>
	</head>
	<body>
		<div id="eveDetailMain">
			<div id="eventInfo">
				<p>イベント詳細</p>
				<p>イベント名 : カエル界忘年会</p>
				<p>開催日 : 2013/12/20</p>
				<p>開催地区 : 長野県長野市</p>
				<p>開催時間 : 18:00~</p>
				<p>開催会場 : でりひろの家</p>
			</div><!-- #eventInfo end -->
			<div id="map">
				<p>アクセスマップ</p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x601d869ccaf0154d%3A0x7a8d02acc956e937!2z6ZW36YeO55yM6ZW36YeO5biC6Iul6YeM77yU5LiB55uu77yR77yX4oiS77yRIOWbveeri-S_oeW3nuWkp-WtpuW3peWtpumDqA!5e0!3m2!1sja!2sjp!4v1387207636287"></iframe>
			</div><!-- #map end -->
		</div><!-- #eveDetailMain end -->
	</body>
</html>