<!DOCTIPE html>
<html lang="ja">
<head>
		<meta charset= "utf-8">
		<title>Event</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="all" />

</head>
<body>
<div id = "wrap">
	<div id = "header">
		<ul>
		<li><a href ="Stutop.html">Top</a></li>
		<li><a href ="profile.html">登録情報</a></li>
		<li><a href ="event.html">イベント</a></li>
		<li><a href ="logout.html">Logout</a></li>
		</ul>

	</div>
	<div id="eventdetail">
		<h2>イベント</h2><br>
		<div id ="eventdetailfont">
		<p>イベントを追加したい方は<a href="addevent.html">こちら</a>へ
		</p>
		</div>
	</div>
	<div id ="events">
		<table id="eveTable">
						<thead>
							<tr class="eveHead">
								<th scope="col">イベント名</th>
								<th scope="col">開催日</th>
								<th scope="col">開催地区</th>
								<th scope="col">開催時間</th>
								<th scope="col">会場</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="./Stueventdetail.html">あ</a></td>
								<td>あ</td>
								<td>あ</td>
								<td>あ</td>
								<td>あ</td>
							</tr>
						</tbody>
					</table>
	</div>
</div>
</body>
</html>