<!DOCTIPE html>
<html lang="ja">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>profile</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="all" />


</head>
<body>
	<div id ="wrap">
	<div id = "header">
		<ul>
		<li><a href ="gakuseitop.html">Top</a></li>
		<li><a href ="gakuseiprofile.html">登録情報</a></li>
		<li><a href ="logout.html">Logout</a></li>
		</ul>
	</div>

	<INPUT type="button" class="editbtn" value="変更" onClick="location.href='profileedit.html'"><h2>登録情報</h2>
	<div id="baseprofile">
		<div id ="profilefont">
		 
		<p>基本情報<br><br>
		お名前:田中太郎<br>
		国籍:日本<br>
		住所:長野県長野市なんちゃらのなんちゃら<br>
		電話番号:0120-117-117</p><br><br>

		<p>生年月日:3月3日</p>
		<p>性別:男</p>

		
		
		
		
	</div>
		<div id = "profilephoto">
			<font size = "40px">
				写<br>真</font>
		</div>
		<div id ="profilebtn">
			<FORM>
			<INPUT type="button" class="editbtn" value="変更" onClick="location.href='profileedit.html'">
		</FORM>
		</div>
	</div>
		<h2>学生情報</h2>
	<div id="editinfo">
		<p>学籍番号:１３ｔｓｋｄｋ<br></p>
		<p>年次:2年</p>
		<p>学部:工学</p>
		<p>学科:なんか</p>
		<p>研究科:やばい</p>
		<p>研究室:ｙばい</p>
		<p>保証人氏名:金</p>
		<p>保証人住所:金</p>
		<p>保証人連絡先:失踪</p>
		<p>入学日:明日</p>
		
	</div>

		
	</div>
</body>
</html>