<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>welcome</title>
    <link rel="stylesheet" type="text/css" href="../css/style1.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" media="all" />
	
</head>
<body>
<div id = "wrap">
	<div id = "welcome">
		<p class = "welcome-w">Welcome</p>

	</div>
	
<div id="form">
	<form role="form">
  		<div class="form-group">
        <label for="StudentID">StudentID</label>
    		<input type="ID" class="form-control" id="StudentID" placeholder="Student ID">
 		 </div>
  		<div class="form-group">
    		<label for="Password1">Password</label>
   			 <input type="password" class="form-control" id="Password1" placeholder="Password">
  		</div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> 記憶する
    </label>
  </div>
  <button type="submit" class="btn btn-default">Login</button>
   <button type="submit" class="btn btn-default">新規登録</button>
</form>
</div>
</body>
</html>