<!DOCTYPE html>
<html lang="ja">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>newentry</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="all" />


</head>
<body>
	<div id ="wrap">
	

	<INPUT type="button" class="editbtn" value="登録" ><h2>登録情報</h2>
	<div id="baseprofile">
		<div id ="profilefont">
		 
		<p>情報を入力してください</p><br>

		<p>お名前:<input type ="text" name="住所"><br></p>

		
		<p>住所:<input type ="text" name="住所"><br></p>

		<p>電話番号:<input type ="text" name="電話番号"></p><br>

		<p>生年月日:<input type ="text" name="住所"></p>
		<p>性別:<input type="radio" name="状態" value="在学" tabindex="2" accesskey="c">男
<input type="radio" name="状態" value="修了" tabindex="3" accesskey="d">女<br></p>
国籍:<select name="age" tabindex="8">
<option value="10ages">日本</option><option value="20ages">中国</option>
<option value="30ages">韓国</option><option value="40ages">英国</option>
<option value="50ages">米国</option><option value="60ages">独国</option>
<option value="age" selected>お選びください</option>
</select><br></p>

		
	</div>
</body>
</html>