<!DOCTIPE html>
<html lang="ja">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>profile</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="all" />


</head>
<body>
	<div id ="wrap">
	<div id = "header">
		<ul>
		<li><a href ="Stutop.html">Top</a></li>
		<li><a href ="profile.html">登録情報</a></li>
		<li><a href ="eventN.html">イベント</a></li>
		<li><a href ="logout.html">Logout</a></li>
		</ul>
	</div>

	
		<h2>登録情報</h2>
	<div id="baseprofile">
		<h2>基本情報</h2>
		<h3>お名前:</h3>
		<h3>生年月日:</h3>
		<h3>性別:</h3>
		<h3>電話番号:</h3>
		<h3>職業:</h3>
		<h3>業種:</h3>
		<h3>学籍番号:</h3><br>
		<h3>年次:</h3>
		<h3>学部:</h3>
		<h3>学科:</h3><br>
		<h3>研究科:</h3>
		<h3>研究室:</h3>
	</div>

	<div id="editprofile">
		<h2>編集できるもの</h2>
		<h3>保証人氏名:</h3>
		<h3>保証人住所:</h3>
		<h3>保証人連絡先:</h3>
		<h3>入学日:</h3>
		<FORM>
			<INPUT type="button" class="editbtn" value="変更" onClick="location.href='profileedit.html'">
		</FORM>
	</div>
	</div>
</body>
</html>