<!DOCTIPE html>
<html lang="ja">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>profile</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="all" />


</head>
<body>
	<div id ="wrap">
	<div id = "header">
		<ul>
		<li><a href ="sankatop.html">Top</a></li>
		<li><a href ="sankaprofile.html">登録情報</a></li>
		<li><a href ="sankaeventN.html">イベント</a></li>
		<li><a href ="logout.html">Logout</a></li>
		</ul>
	</div>

	<INPUT type="button" class="editbtn" value="変更" onClick="location.href='profileedit.html'"><h2>登録情報</h2>
	<div id="baseprofile">
		<div id ="profilefont">
		 
		<p>基本情報<br><br>
		お名前:田中太郎<br>
		国籍:日本<br>
		住所:長野県長野市なんちゃらのなんちゃら<br>
		電話番号:0120-117-117</p><br><br>

		<p>生年月日:3月3日</p>
		<p>性別:男</p>

		
	</div>
		<div id = "profilephoto">
			<font size = "40px">
				写<br>真</font>
		</div>
		<div id ="profilebtn">
			<FORM>
			<INPUT type="button" class="editbtn" value="変更" onClick="location.href='profileedit.html'">
		</FORM>
		</div>
	</div>
		<h2>参加者情報</h2>
	<div id="editinfo">
		<p>希望過程:・・・・<br></p>
		<p>志望コース:・・・・</p>
		<p>志望指導教員名:・・・・</p>
		<p>入学日:・・・・・</p>
		<p>入学済み:</p>
		
	</div>

		<FORM>
			<INPUT type="button" class="editbtn" value="証明書発行" onClick="location.href='syomeisyo.html'">
		</FORM>

		
	</div>
</body>
</html>