<!DOCTIPE html>
<html lang="ja">
<head>
		<meta charset= "utf-8">
		<title>Event</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="all" />

</head>
<body>
<div id = "wrap">
	<div id = "header">
		<ul>
		<li><a href ="sankaStutop.html">Top</a></li>
		<li><a href ="sankaprofile.html">登録情報</a></li>
		<li><a href ="sankaeventN.html">イベント</a></li>
		<li><a href ="logout.html">Logout</a></li>
		</ul>

	</div>
	<div id="eventdetail">
		<h2>イベント</h2><br>
	</div>
	<div id ="events">
		<p>イベント等を表示したい</p>
	</div>
</div>
</body>
</html>