<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="keyword" content="">
		<meta name="description" content="">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<link href="../css/style.css" rel="stylesheet" type="text/css" media="all">
		<script src="../js/jquery-1.10.2.min.js"></script>
		<title>学校用トップページ</title>
	</head>
	<body>
		<div id="warpper">
			<div id="entry">
				<div id="entry-top" class="entry">What do you</div>
				<div id="entry-bottom" class="entry">want to do?</div>
			</div><!-- #entry end -->
			<div id="main-buttons">
				<div><a href="./students.html" class="main-button">
					<div class="name">
						<p>学生関連</p>
					</div><!-- #name end -->
					<ul>
						<li>学生情報の登録</li>
						<li>学生情報の編集</li>
						<li>学生の検索</li>
						<li class="more">and more..</li>
					</ul>
					<p class="click">click me!</p>
				</a></div><!-- .main-button end -->
				<div><a href="./event.html" class="main-button">
					<div class="name">
						<p>イベント情報</p>
					</div><!-- #name end -->
					<ul>
						<li>イベントの登録</li>
						<li>イベントの編集</li>
						<li>イベントの検索</li>
						<li class="more">and more..</li>
					</ul>
					<p class="click">click me!</p>
				</a></div><!-- .main-button end -->
				<div><a href="./explain.html" class="main-button">
					<div class="name">
						<p>説明会</p>
					</div><!-- #name end -->
					<ul>
						<li>参加者の編集</li>
						<li>参加者の検索</li>
						<li class="more">and more..</li>
					</ul>
					<p class="click" id="click-last">click me!</p>
				</a></div><!-- .main-button end -->
				<a href="#"><img src="../pic/icon/logout2.png" class="top-logout"></img></a>
			</div><!-- #main-buttons end -->
		</div><!-- #box end -->
	</body>
</html>