<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="keyword" content="">
		<meta name="description" content="">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<link href="../css/details.css" rel="stylesheet" type="text/css" media="all">
		<script src="../js/jquery-1.10.2.min.js"></script>
		<title>学生詳細情報</title>
	</head>
	<body>
		<div id="stuDetailMain">
			<div id="basisInfo">
				<div id="personImgPlace">
					<img src="../pic/image.jpg" />
				</div><!-- #personImgPlace end -->
				<div id="stuInfo">
					<p>基本情報</p>
					<p>氏名 : delihiros</p>
					<p>国籍 : 日本</p>
					<p>住所 : 長野県</p>
					<p>電話番号 : 090-****-****</p>
					<p>職業 : 引きこもり</p>
					<p>業種 : ニート</p>
					<p>生年月日 : 2013/12/6</p>
					<p>性別 : 男性</p>
				</div><!-- #stuInfo end -->
			</div><!-- #basisInfo end -->
			<div id="compInfo">
				<p>在学生情報</p>
				<p>学年 : ３年生</p>
				<p>学部 : 工学部</p>
				<p>学科 : 情報工学科</p>
				<p>研究室 : **研究室</p>
				<p>学籍番号 : 11T50**</p>
				<p>保証人氏名 : *****</p>
				<p>保証人住所 : *****************</p>
				<p>保証人連絡先 : 090-****-****</p>
				<p>入学日 : 2011/4/1</p>
				<p>修了日 : --------</p>
			</div><!-- #compInfo end -->
			<div id="partInfo">
				<p>参加者情報</p>
				<p>希望課程 : 情報工学科</p>
				<p>志望コース : SE</p>
				<p>志望指導教員名 : 小林</p>
				<p>入学ステータス : 入学</p>
				<p>入学日 : 2011/4/1</p>
			</div><!-- #partInfo end -->
			<div id="stuEditButton">
				<p class="editButtons"><input type="submit" value="削除"></p>
				<p class="editButtons"><input type="submit" value="編集"></p>
			</div><!-- stuEditButton end -->
		</div><!-- #stuEditMain end -->
	</body>
</html>