<!DOCTIPE html>
<html lang="ja">
<head>
		<meta charset= "utf-8">
		<title>Event</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="all" />

</head>
<body>
<div id = "wrap">
	<div id = "header">
		<ul>
		<li><a href ="Stutop.html">Top</a></li>
		<li><a href ="profile.html">登録情報</a></li>
		<li><a href ="event.html">イベント</a></li>
		<li><a href ="logout.html">Logout</a></li>
		</ul>

	</div>
	<iframe src="https://www.google.com/calendar/embed?src=r2v0kk943vqsdb0ifr9edl1ma4%40group.calendar.google.com&ctz=Asia/Tokyo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
</body>
</html>