<!DOCTIPE html>
<html lang="ja">
<head>
		<meta charset= "utf-8">
		<title>Event</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="all" />

</head>
<body>
<div id = "wrap">
	<div id = "header">
		<ul>
		<li><a href ="Stutop.html">Top</a></li>
		<li><a href ="profile.html">登録情報</a></li>
		<li><a href ="event.html">イベント</a></li>
		<li><a href ="logout.html">Logout</a></li>
		</ul>

	</div>
	<div id="eventdetail">
		<h2>イベント詳細</h2><br>
		<div id ="eventdetailfont">
		<p>
		イベント名:説明会<br>
		日時:10/10<br>
		場所:どこどこ<br><br><br></p>
		<p><br>イベントの種類:説明会
		</p>
		</div>
	</div>
</div>
</body>
</html>