<!DOCTIPE html>
<html lang="ja">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>header</title>
		<link rel="stylesheet" type="text/css" href="main.css" media="all" />
</head>
<body>
<div id = "wrap">
	<div id = "title-top">
		<a href ="header.html"><h1 class="topname">honyahonya Univ.</h1></a>
	</div>
	<ul id = "menu">
		<a href ="profile.html"><li>Profile</li></a>
		<a href ="event.html"><li>Event</li></a>
		<a href ="edit.html"><li>Edit</li></a>
		<a href ="logout.html"><li>Logout</li></a>
	</ul>
	<div id="calendar">
	<h1>aaaÇ†Ç¢Ç§Ç¶ èCóπê∂óp calendar</h1>
	</div>
	<div id = "main-con">
	<h1>main<h2>
	</div>
</div>

</body>
</html>