<!DOCTYPE html>
<html lang="ja">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>header</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="all" />

</head>
<body>
<div id = "wrap">
	
	<div id = "header">
		<ul>
			<li><a href ="Stutop.html">Top</a></li>
			<li><a href ="profile.html">登録情報</a></li>
			<li><a href ="eventN.html">イベント</a></li>
			<li><a href ="logout.html">Logout</a></li>
		</ul>
	</div>
	<div id="calendar">
	<iframe src="https://www.google.com/calendar/embed?src=r2v0kk943vqsdb0ifr9edl1ma4%40group.calendar.google.com&ctz=Asia/Tokyo" style="border: 0" width="490" height="400" frameborder="0" scrolling="no"></iframe>
	</div>
	<div id = "main-con">
	<p>ここに新規イベントなどを表示させる？</p>
	</div>
</div>

</body>
</html>