@charset "utf-8"

/* cssの初期化 */

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, dl, dt, dd, ol, ul, li, form, label, table,
tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
	vartical-align: baseline;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Helvetica';
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #ff0000;
}

a:active {
	color: #000000;
}

td a:hover {
	color: #000000;
}

#warpper {
	margin: 30px auto;
	padding: 0;
	width: 800px;
}

ul {
	list-style: none;
}

#header {
	margin: 0 0 10px 0;
	padding: 0;
	width: 800px;
	border-bottom: 2px solid #6b6b6b;
}

#header ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

#header li {
	margin: 0 20px;
	padding: 0;
	display: inline;
	width: 100px;
	text-align: center;
	font-size: 25px;;
}

#header a {
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
}

.stuSearch, .eveSearch {
	margin: 20px 0 0 0;
	padding: 0 0 0 10px;
	border: 0;
	width: 800px;
	height: 270px;
	background-color: #ffffff;
	border-bottom: 2px solid #6f6f6f;
}

.eveSearch {
	height: 150px;
}

.searchbutton {
	margin: 0;
	padding: 0;
	width: 80px;
}

#stuMain, #eveMain {
	margin: 0;
	padding: 0;
	width: 800px;
	height: auto;
	background-color: #fffff;
}

#stuContents, #eveContents {
	margin: 5px 0 0 0;
	padding: 0;
	width: 800px;
	height: auto;
}

#newStuEntry, #newEveEntry{
	margin: 0 20px 10px 0;
	padding: 0;
	font-size: 20px;
	width: 780px;
	float: right;
	text-align: right;
}

#hit {
	margin: 0 0 0 60px;
	padding: 0;
	width: 100%;
	text-align: left;
}

/*--- テーブルの設定 ---*/
#stuTable, #eveTable{
	margin: 0 50px;
	padding: 0;
	width: 700px;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #c1dad7;
}

th {
	margin: 0;
	padding: 0 0 0 10px;
	border: 1px solid #c1dad7;
	letter-spacing: 2px;
}

thead th {
	border-bottom: 4px double #c1dad7;
}

td {
	margin: 0;
	padding: 0 0 0 10px;
	border: 1px solid #c1dad7;
}

tbody tr:hover{
	background-color: #ffffaa;
}

#event-body a{
	width: 100%;
	display: block;
}

/*--- rowClick.1.0.jsの設定 ---*/
.rowClick {
	cursor: pointer;
}
